.ourServices-wrapper {
  background: white;
  /* margin: .75rem; */
  padding: 5rem 3rem;
  background-image: url("https://www.transparenttextures.com/patterns/crissxcross.png");
  display: flex;
  justify-content: center;
}

.ourServices-content {
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.ourServices-offers {
  width: 50%;
}

.ourServices-title {
  font-size: 2rem;
  font-family: 'Lobster', cursive;
}

.ourServices-offers li {
  font-size: 1.25rem;
}

.ourServices-info {
  width: 50%;
}

.ourServices-info p {
  font-size: 1.25rem;
}

@media only screen and (max-width: 830px) {
  .ourServices-content {
    padding: 2rem 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ourServices-offers {
    width: 100%;
  }
  .ourServices-info {
    width: 100%;
    padding: 2em 0em;
  }
}

@media only screen and (max-width: 450px) {
  .ourServices-wrapper {
    padding: 3rem .75rem;
  }
}